<li id="favor-<%= favor.id %>">
  <%= link_to gravatar_for(favor.user), favor.user %>
  <span class="user"><%= link_to favor.user.name, favor.user %>
  <%= pluralize(favor.user.favor_points, "Favor Points") %></span>
  <span class="content"><%= favor.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(favor.created_at) %> ago.
     <% if (current_user?(favor.user) && favor.status == "open") %>
      <%= link_to "delete", favor, method: :delete,
        data: { confirm: "Are you sure you would like to delete this favor request?" } %>
     <% end %>
     <% if (!current_user?(favor.user) && favor.status == "open") %>
      <%= link_to "accept", favor, method: :update,
        data: { confirm: "Perform this favor?" } %>
    <% end %>
    <% if (current_user?(favor.user) && favor.status == "in progress") %>
      <%= link_to "completed", favor, method: :completed,
        data: { confirm: "Mark this favor as completed?" } %>
    <% end %>
    <%= favor.favor_cost %> Points
  </span>
</li>